{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <br>

    {# Reprend l'éléments ProductName #}
    <div class="row mb-4">
        <div class="form-group col-6">
            {{ form_row(form.pro_name) }}
        </div>

        {# Reprend l'éléments SupplierID #}
        <div class="form-group col-md-6">
            {{ form_row(form.sup_id) }}
        </div>
    </div>
    <div class="row mb-4">
        {# Reprend l'éléments CategoryID #}
        <div class="form-group col-md-4">
            {{ form_row(form.cat_id) }}
        </div>

        {# Reprend l'éléments Quantité Par Unité #}
        <div class="form-group col-md-4">
            {{ form_row(form.pro_vat) }}
        </div>

        {# Reprend l'éléments  Prix Unitaire#}
        <div class="form-group col-md-4">
            {{ form_row(form.pro_ref) }}
        </div>
    </div>
    <div class="row mb-4">    
        <div class="form-group col-md-4">
            {{ form_row(form.pro_price) }}
        </div>
        {# Reprend l'éléments Quantité En Stock #}
        <div class="form-group col-md-4">
            {{ form_row(form.pro_stock) }}
        </div>

        {# Reprend l'éléments Quantité En Commande #}
        <div class="form-group col-md-4">
            {{ form_row(form.pro_picture) }}
        </div>
    </div>
    <div class="row mb-4">
        {# Reprend l'éléments Niveau D'alerte#}   
        <div class="form-group col-md-4">
            {{ form_row(form.pro_wording) }}
        </div>

        <div class="form-group col-md-4">
            {{ form_row(form.pro_description) }}
        </div>
    </div>
    <div class="row mb-4">
        <div class="form-group col-md-6">
            {{ form_row(form.pro_date_add) }}
        </div>

        <div class="form-group col-md-6">
            {{ form_row(form.pro_date_modif) }}
        </div>
    </div>

    <br>

    <div class="row row-cols-md-3">
            <div class="col text-center">
                <button class="btn btn btn-warning">{{ button_label|default('Sauvegarder') }}</button>
            </div>

{{ form_end(form) }}