{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    
    <div class="bgn mt-5 mb-3 p-4 text-center text-white">
        <h1>Bienvenu dans notre Boutique</h1>
        <h2>Faites-vous plaisir !</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        
        {% for product in products %}

            <div class="col">
                <div class="card h-100 border-0 bg-transparent">
                    <div class="row g-0">
                        <div class="col-md-12 text-center">
                            <img src="/images/photos_jeux/{{ product.proPicture }}" style="max-height: 20em;" class="p-2 img-fluid rounded" alt="imgJeu">
                        </div>
                        <div class="col-md-12 ">
                            <div class="p-0 card-body text-center bg-dark text-white ms-3 me-3">

                                <p>{{ product.proName }}</p>   
                                                                
                                <p class="text-success fs-4">{{ product.proPrice }} €</p>
                                    
                                <div class="row-cols-3 justify-content-espace-between">
                                    <a class="text-info" href="{{ path('products_show', {'id': product.id}) }}"><i class="bi bi-eye fs-2"></i></a>
                                {# {% if app.user %} #}
                                        <a class="text-warning" href="{{ path('products_edit', {'id': product.id}) }}"><i class="bi bi-pen fs-2"></i></a>
                                {# {% endif %} #}
                                    <a class="text-success" href="{{ path("cart_add", {'id': product.id}) }}"><i class="bi bi-bag-plus fs-2"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            Pas de jeu trouvé
        {% endfor %}

    </div>

    <a class="btn btn-success p-3" href="{{ path('products_new') }}"><i class="bi bi-plus-square"></i> Ajouter un produit</a>

{% endblock %}