{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="row ms-1 me-1">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow my-5 bgn text-white" style="border-radius: 10px;">
          <div class="card-body p-4 p-sm-5">
            <h1 class="card-title text-center mb-5 fw-light fs-5">Se connecter</h1>       
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
              <div class="form-floating mb-3">
                <input type="email" value="{{ last_username }}" name="email" id="floatingInput" class="form-control" placeholder="name@example.com" autocomplete="email" required autofocus>
                <label class="text-dark" for="floatingInput">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <label class="text-dark" for="floatingPassword">Mot de passe</label>
              </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">Se souvenir de moi</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Se connecter</button>
              </div>
            </form>
            <br>
            <hr>
            <div class="form-floating mb-3 text-center">
                <p>Vous n'êtes pas encore inscrit ?</p>
                <a href="{{ path('app_register') }}" class="d-grid btn btn-warning">Inscrivez-vous !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    



{# <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    > #}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}
